div {
    width: 100px;
    height: 300px;
    border: 2px solid black;
    background-color: lightskyblue;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    
}
button {
    display: block;
    margin-top: 30px;
    align-content: center;
    text-align: center;
}